ETHEREUM_HOSTS=https://eth-sepolia.g.alchemy.com/v2/
L1_CONSENSUS_HOST_URLS=https://ethereum-sepolia.core.chainstack.com/beacon/
VALIDATOR_PRIVATE_KEY=
COINBASE_ADDRESS=0x95
LOG_LEVEL=debug
DATA_DIRECTORY=/data
